nav a{
    color:black;
    text-decoration:none;
    padding:0.5rem;
    border-radius:4px;
    transition:background 0.3s;
     font-size: 1.5rem;
}
nav a:hover {
    background: rgb(168, 138, 138);
    text-decoration: underline;
}

nav a.active {
    background: rgb(14, 14, 14);
    text-decoration: underline;
}
.navbar{
    display:flex;
    gap:5rem;
    align-items:center; 
    
}
nav ul{
    list-style:none;
    display:flex;
    gap:5rem;
    margin:0;
    padding:0;
}
header h1{
    background-color: rgb(218, 197, 197);
    color:black;
    text-align: center;
    font-size:clamp(1.5rem,4vw,3rem);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background:#ffbbbb;
}
.container {
   width: 90%;
  max-width: 800px;
  margin: 60px auto;
  background-color: #f1f1f1;
  border:10px double rgb(110, 35, 99);
  border-radius: 15px;
  padding: 30px 40px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Arial", sans-serif;
}
.personal-skill{
    list-style:none;
    padding-left:0;
}
.personal-skill li
.contact li{
    margin-bottom:5px;
    color:#555;
    font-size:14px;
}
.progress-ui{
    list-style:none;
    padding-left:0;
}
.progress-ui li{
    margin-bottom:20px;
}
#progress,#progress1,#progress2,#progress3{
    height:10px;
    background:#804242;
    width:0;
    margin-top:5px;
    border-radius:5px;
}
.right-side{
    color:#804242;
    margin-bottom:10px;
    border-bottom:2px solid #804242;
    display:inline-block;
}

h2,h4,h3{
    font-size: 30px;
}
.personal-skill{
    font-size:20px;
}
footer{
    margin-top:30px;
    text-align:center;
    font-size:14px;
    color:#444;
}
@media(max-width:600px){
    .profile-img{
        width:200px;
        height:200px;
    }
    .cv-container{
        padding:10px;
    }
    h1{
        font-size:22px;
    }
    nav ul{
    flex-direction:column;
    gap:1rem;
}
.container{
    padding:10px;
}
.navbar{
    flex-direction:column;
}
}